streamlit
python-dotenv
langgraph
langchain-core
langchain-community
langchain-openai
langchain-huggingface
langchain-text-splitters
openai
ragas
faiss-cpu
sentence-transformers
scikit-learn
numpy<2.0.0
huggingface-hub
PyPDF2
pypdf
duckduckgo-search